<h1><%= ts('Edit info for %{tag_name}', :tag_name => @tag.name) %></h1>

<%= form_for(@wiki) do |f| %>
  <%= f.label :fanlore_link %>
  <%= f.text_field :fanlore_link %>
  
  <%= f.label :description %>
  <%= f.text_area :description %>
  
  <% if can_wrangle? %>
    <%= f.label :locked, ts("Lock this page so that only wranglers and admins can edit it") %>
    <%= f.check_box :locked %>
  <% end %>
  
  <%= f.submit %>
<% end %>