<!--ZONES TAG HOME Descriptive page name, messages and instructions-->
<div class="tag home profile">
  <div class="primary header module">
    <h2 class="heading"><%= @fandom.name %></h2>
    <div class="icon"></div>
  </div>
  
  <ul class="navigation actions" role="menu">
    <li><%= link_to ts('Works'), tag_works_path(@fandom) %></li>
    <li><%= link_to ts('Bookmarks'), tag_bookmarks_path(@fandom) %></li>  
    <% if current_user.respond_to?(:is_wrangler?) && current_user.is_wrangler? %>  
      <li><%= link_to ts('Wrangle'), edit_tag_path(@fandom) %></li>
      <li><%= link_to ts('Edit Info'), edit_fandom_path(@fandom) %></li>
      <li><%= link_to ts('Edit Description'), edit_tag_wiki_path(@wiki) %></li>
    <% end %>
  </ul>
  
  <h3><%= link_to ts('Fandom info &raquo;').html_safe, '', :onclick => "$j('.meta').toggleClass('hidden'); return false;" %></h3>
  
  <dl class="fandom meta group hidden">
    <% @fandom_tag_types.each do |tag_type| %>
      <dt>
        <%= tag_type.constantize.display_name %>
      </dt>
      <dd>
        <% unless @fandom_tags[tag_type].blank? %>
          <ul class="commas">
            <% @fandom_tags[tag_type].each do |tag| %>
              <li>
                <%= link_to tag.name, tag %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </dd>
    <% end %>
    <% unless @wiki.language_name.blank? %>
      <dt><%= ts('Language') %></dt>
      <dd><%= @wiki.language_name %></dd>
    <% end %>
    <dt><%= ts('Fanworks') %></dt>
    <dd>
      <ul class="commas">
        <li><%= link_to ts("%{count} works", :count => @fandom.filtered_works.count), tag_works_path(@fandom) %></li>
        <li><%= link_to ts("%{count} bookmarks", :count => @fandom.bookmarks.count), tag_bookmarks_path(@fandom) %></li>
      </ul>
    </dd>
    <dt><%= ts('Description') %></dt>
    <dd><%= raw strip_images(sanitize_field(@wiki, :description)) %></dd>
    <dt><%= ts('More Info') %></dt>
    <dd>
    <% if @wiki.fanlore_link.blank? %>
      <%= link_to ts("Find %{fandom} on Fanlore", :fandom => @fandom.name), "http://fanlore.org/wiki/Category:Fandoms_by_Source_Text" %>
    <% else %>
      <%= link_to ts("%{fandom} on Fanlore", :fandom => @fandom.name), @wiki.fanlore_link %></dd>
    <% end %>
    </dd>
  </dl>
  
  <%= form_tag search_works_path, :class => 'simple search' do %>
    <fieldset class="fandom search">
      <p>
      <%= label_tag 'query[text]', ts('Search this fandom:') %>
      <%= text_field_tag 'query[text]', '' %>
      <%= select_tag "query[language]", "<option></option>".html_safe + options_from_collection_for_select(@languages, 'name', 'name') %>
      <%= hidden_field_tag 'query[tag]', "'#{@fandom.name}'" %>
      <%= submit_tag 'Go' %>
      </p>
    </fieldset>
  <% end %>

  <!--main content-->
  <ul class="media fandom index group">
    <li class="listbox index group odd">
      <h3 class="heading"><%= ts('Characters') %></h3>
      <% unless @characters.blank? %>
      <ul class="index group">
        <% for character in @characters %>
          <li><%= link_to "#{character.name} (#{character.count})", tag_works_path(character) %></li>
        <% end %>
      </ul>
      <p class="navigation actions" role="navigation"><%= link_to ts("All characters..."), "" %></p>
      <% end %>
    </li>
    <li class="listbox index group even">
      <h3 class="heading"><%= ts('Relationships') %></h3>
      <% unless @relationships.blank? %>
      <ul class="index group">
        <% for relationship in @relationships %>
          <li><%= link_to "#{relationship.name} (#{relationship.count})", tag_works_path(relationship) %></li>
        <% end %>
      </ul>
      <p class="navigation actions" role="navigation"><%= link_to ts("All relationships..."), "" %></p>
      <% end %>
    </li>
    <li class="listbox index group odd">
      <h3 class="heading"><%= ts('Authors and Artists') %></h3>
      <ul class="index group">
        <% for pseud in @pseuds %>
          <li>
            <%= link_to pseud.name, {:controller => :works, :user_id => pseud.user, :pseud_id => pseud, :selected_tags => [@fandom.id]} %>
          </li>
        <% end %>
      </ul>
      <p class="navigation actions" role="navigation"><%= link_to ts("All authors and artists..."), "" %></p>
    </li>
    <li class="listbox index group even">
      <h3 class="heading"><%= ts('Collections') %></h3>
      <% unless @collections.blank? %>
      <ul class="index group">
        <% for collection in @collections %>
          <li><%= link_to collection.title, collection_path(collection) %></li>
        <% end %>
      </ul>
      <p class="navigation actions" role="navigation"><%= link_to ts("All collections..."), "" %></p>
      <% end %>
    </li>
  </ul>
  <!--/content-->
</div>
